*{
margin:0;
box-sizing: border-box;
}
.boxhead{
background-image: url("img/pattern.png");
background-size:25%;
background-color: lightskyblue;
width: 100%;
height: 100px;
margin:auto;
}
#logo{
height: 50px;
margin-top: 40px;
margin-left:10px;
}
a{
color:rgb(0, 140, 255);
text-decoration: none;
}
h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
}
.infosito{
color:gray;
}
section>img{
display:inline-block;
}
.photos{
margin: 10px 0;
}
.infophoto{
font-family: 'Courier New', Courier, monospace;
font-size: 10px;
font-weight: bold;
}
strong{
background-color: rgb(222, 222, 82);
}
.ullist{
margin-left: 0;
}
thead>tr{
background-color: rgb(58, 103, 201);
}
th{
width: calc(100% / 3 -4);
}
.colored{
background-color: rgb(128, 206, 245);
}
table{
padding:50px;
}
h2{
color: gray;
}
.frstp, .ullist , .lastp , h2{
padding-top:25px;
}