*{
margin:auto
box-sizing: border-box;
}
.boxhead{
background-image: url("pattern.png");
width: 100%;
height: 60px;
margin:auto;
}
h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
}
.infosito{
color:gray;
}
section>img{
display:inline-block;
}
.infophoto{
font-family: 'Courier New', Courier, monospace;
font-size: 10px;
font-weight: bold;
}
.frstp{
padding: 50px;
}
strong{
background-color: rgb(222, 222, 82);
}
ul{
padding-left:50px;
}
thead>tr{
background-color: rgb(58, 103, 201);
}
th{
width: calc(100% / 3 -4);
}
.colored{
background-color: rgb(128, 206, 245);
}
table{
padding:50px;
}
.lastp{
padding-bottom: 50px;
padding-left: 50px;
}
h2{
color: gray;
}